In [1]:
library(mRMRe)

Loading required package: survival
Loading required package: igraph

Attaching package: ‘igraph’

The following objects are masked from ‘package:stats’:

    decompose, spectrum

The following object is masked from ‘package:base’:

    union

In [2]:
data <- read.csv('./raw_data')
data[1:length(data[1,])] <- lapply(data[1:length(data[1,])], as.numeric)
data_norm <- apply(data, 2, function(x)(x-min(x))/(max(x)-min(x))) 
target <- data[,(length(data[1,])-3):(length(data[1,]))]
data <- data[,1:(length(data[1,])-4)]
head(data)
head(target)

  A   C   G   T    Total AA  AC  AT  AG  CA  ⋯ GGCT GGCG GGTA GGTC GGTT GGTG
1  94  74  94  114  376   36  13  26  19  17 ⋯  5    0   0     1    5    1
2 907 890 590 1198 3585  255 165 288 199 278 ⋯  7    0   7    10   10    8
3 137  47 124  106  414   47  14  33  42  22 ⋯  3    0   2     2    1    2
4  83  73 114  141  411   23  11  23  25  20 ⋯  3    0   1     2    2    7
5 405 278 462  354 1499  118  64  75 148  85 ⋯  2   16   9     7    5   17
6 672 540 611  752 2575  210 100 167 194 178 ⋯ 20    3   4     3   14   11
  GGGA GGGC GGGT GGGG
1  1    2    4    3
2  8    1    3    4
3  5    3    4    7
4  2    2    1    2
5  8    5    9    7
6 17   12   11   13

  class_lev1 class_lev2 class_lev3 class_lev4
1 1          4          NA         NA
2 1          4          NA         NA
3 1          4          NA         NA
4 1          4          NA         NA
5 1          4          NA         NA
6 1          4          NA         NA

In [3]:
# Root node features
indx <- !is.na(target[,1]) # Those with known class
tmp <- cbind(target[indx,1],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_root <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_root <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')

  target A   C   G   T    Total AA  AC  AT  AG  ⋯ GGCT GGCG GGTA GGTC GGTT GGTG
1 1       94  74  94  114  376   36  13  26  19 ⋯  5    0   0     1    5    1
2 1      907 890 590 1198 3585  255 165 288 199 ⋯  7    0   7    10   10    8
3 1      137  47 124  106  414   47  14  33  42 ⋯  3    0   2     2    1    2
4 1       83  73 114  141  411   23  11  23  25 ⋯  3    0   1     2    2    7
5 1      405 278 462  354 1499  118  64  75 148 ⋯  2   16   9     7    5   17
6 1      672 540 611  752 2575  210 100 167 194 ⋯ 20    3   4     3   14   11
  GGGA GGGC GGGT GGGG
1  1    2    4    3
2  8    1    3    4
3  5    3    4    7
4  2    2    1    2
5  8    5    9    7
6 17   12   11   13

In [4]:
# Class 1 node features
indx <- target[,1]==1 & !is.na(target[,2]) # Those in class 1 with known order
tmp <- cbind(target[indx,2],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_class1 <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_class1 <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')

  target A   C   G   T    Total AA  AC  AT  AG  ⋯ GGCT GGCG GGTA GGTC GGTT GGTG
1 4       94  74  94  114  376   36  13  26  19 ⋯  5    0   0     1    5    1
2 4      907 890 590 1198 3585  255 165 288 199 ⋯  7    0   7    10   10    8
3 4      137  47 124  106  414   47  14  33  42 ⋯  3    0   2     2    1    2
4 4       83  73 114  141  411   23  11  23  25 ⋯  3    0   1     2    2    7
5 4      405 278 462  354 1499  118  64  75 148 ⋯  2   16   9     7    5   17
6 4      672 540 611  752 2575  210 100 167 194 ⋯ 20    3   4     3   14   11
  GGGA GGGC GGGT GGGG
1  1    2    4    3
2  8    1    3    4
3  5    3    4    7
4  2    2    1    2
5  8    5    9    7
6 17   12   11   13

In [5]:
# Class 1, Order LTR node features
indx <- target[,1]==1 & target[,2]==1 & !is.na(target[,3]) # Those in class 1, order LTR with known superfamily
tmp <- cbind(target[indx,3],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_class1orderLTR <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_class1orderLTR <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')

    target A    C    G    T    Total AA  AC  AT  AG  ⋯ GGCT GGCG GGTA GGTC GGTT
592 1      2534 1900 2276 2516 9426  694 505 745 589 ⋯ 13   23   34   30   41
593 1       318  199  275  298 1090   79  64 105  70 ⋯  1    0    7    2    7
595 1      2219 1580 1965 2162 7926  607 410 688 513 ⋯ 14   14   35   27   45
596 1       442  399  409  493 1743  105 102 141  93 ⋯  0    3   10    5    7
597 1        57   56   35  108  256   10  11  27   9 ⋯  0    0    0    1    3
598 1      2468 1627 1991 2458 8544  676 463 766 562 ⋯  7   13   32   21   34
    GGTG GGGA GGGC GGGT GGGG
592 40   30   26   27   31
593  7    7    4    7    7
595 34   38   22   38   25
596  7    6    8    5   11
597  0    0    0    0    0
598 37   35   17   26   19

In [6]:
# Class 1, Order DIRS node features
indx <- target[,1]==1 & target[,2]==2 & !is.na(target[,3]) # Those in class 1, order DIRS with known superfamily
print(which(indx))

integer(0)

In [7]:
# Class 1, Order LINE node features
indx <- target[,1]==1 & target[,2]==4 & !is.na(target[,3]) # Those in class 1, order LINE with known superfamily
tmp <- cbind(target[indx,3],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_class1orderLINE <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_class1orderLINE <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')

      target A    C    G   T    Total AA  AC  AT  AG  ⋯ GGCT GGCG GGTA GGTC
14163 3      1215 1356 959  816 4346  386 339 185 304 ⋯ 14    6    9   9
14164 3      1962 1114 776 1371 5223  743 418 511 289 ⋯  4    2    7   8
14165 3      1306  957 851  885 4004  432 298 292 279 ⋯ 18    4   15   7
14166 3       417  306 265  327 1317  126  93 117  81 ⋯  5    0    2   2
14167 3      1628 1310 755 1185 4880  620 412 414 182 ⋯ 11   14    5   5
14168 3      1451 1221 652 1022 4347  500 375 395 180 ⋯ 10    4    3   1
      GGTT GGTG GGGA GGGC GGGT GGGG
14163  9    7   12   3    6    8
14164  7   13    2   1    6    3
14165 10   10   14   7    3    7
14166  2    6    6   2    0    1
14167  6   12    6   9    2    8
14168  4    2    1   3    3    0

In [8]:
# Class 1, Order SINE node features
indx <- target[,1]==1 & target[,2]==5 & !is.na(target[,3]) # Those in class 1, order LINE with known superfamily
tmp <- cbind(target[indx,3],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_class1orderSINE <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_class1orderSINE <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')

      target A   C   G   T   Total AA AC AT AG ⋯ GGCT GGCG GGTA GGTC GGTT GGTG
14355 3       83  96  98  71 348   21 24 16 22 ⋯ 3    2    2    1    1    2
14356 1      117 110 136 110 474   39 18 22 36 ⋯ 3    2    1    0    2    3
14363 1       45  48  65  60 218   14  9  7 15 ⋯ 1    1    0    2    4    1
14364 1       56  55  55  39 205   18 17  6 14 ⋯ 0    2    0    2    3    2
14365 1       39  42  63  41 185   12  8  6 13 ⋯ 1    2    0    2    4    1
14366 1       52  61  59  35 207   18 16  6 11 ⋯ 2    3    0    1    3    1
      GGGA GGGC GGGT GGGG
14355 4    1    2    1
14356 3    2    2    3
14363 1    1    2    1
14364 0    0    2    1
14365 1    0    2    1
14366 1    1    1    2

In [9]:
# Class 2, Subclass 1, Order TIR node features
indx <- target[,1]==2 & !is.na(target[,4]) # Those in class 2 with known superfamily (All in Class 2 have subclass 1 and order TIR)
tmp <- cbind(target[indx,4],data[indx,])
names(tmp)[1] <- 'target'
head(tmp)
# res_class2 <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=5, target_indices = 1, feature_count = 300, method='bootstrap')
res_class2 <- mRMR.ensemble(data = mRMR.data(tmp), solution_count=1, target_indices = 1, feature_count = 300, method='exhaustive')
rm(indx,tmp,target)

      target A    C    G    T    Total AA  AC  AT  AG  ⋯ GGCT GGCG GGTA GGTC
11086 9      2500 2206 2201 2374  9281 728 585 603 584 ⋯ 34   28   26   31
11087 9        26   39   39   37   141   5   3  12   6 ⋯  1    0    0    0
11088 9       129  140  202  126   597  24  23  29  53 ⋯  3    7    1    1
11089 9      3192 2829 2979 2999 12099 870 702 853 767 ⋯ 26   57   32   28
11090 9       399  493  393  327  1612 109 103  96  91 ⋯  5   12    2    4
11091 9      2068  930 1255 1864  6117 714 297 645 412 ⋯ 12    5   19    9
      GGTT GGTG GGGA GGGC GGGT GGGG
11086 25   53   30   37   28   30
11087  0    1    0    0    0    0
11088  3    2    5    6    3    2
11089 45   56   35   47   34   53
11090  5    7    1    6    4    8
11091 24   19   16    9   15    7

In [11]:
res <- array(NA, dim=c(300,6))
res[,1]=solutions(res_root)[[1]]
res[,2]=solutions(res_class1)[[1]] 
res[,3]=solutions(res_class1orderLTR)[[1]] 
res[,4]=solutions(res_class1orderLINE)[[1]]
res[,5]=solutions(res_class1orderSINE)[[1]]
res[,6]=solutions(res_class2)[[1]]
colnames(res) <- c('root','class1','class1OrderLTR', 'class1OrderLINE', 'class1OrderSINE', 'class2')
res <- data.frame(res)
head(res)

  root class1 class1OrderLTR class1OrderLINE class1OrderSINE class2
1 288  145    265            128             294             237
2 206  206    206            212             337             247
3 247   87     87            339             157             206
4 164  164    164            223             317             172
5 269  189    189            171             178             223
6 342  342    342            257             184              94

In [12]:
scor <- array(NA, dim=c(300,6))
scor[,1]=scores(res_root)[[1]]
scor[,2]=scores(res_class1)[[1]] 
scor[,3]=scores(res_class1orderLTR)[[1]] 
scor[,4]=scores(res_class1orderLINE)[[1]]
scor[,5]=scores(res_class1orderSINE)[[1]]
scor[,6]=scores(res_class2)[[1]]
colnames(scor) <- c('root','class1','class1OrderLTR', 'class1OrderLINE', 'class1OrderSINE', 'class2')
scor <- data.frame(scor)
head(scor)

  root        class1      class1OrderLTR class1OrderLINE class1OrderSINE
1  0.03605723  0.01390620  0.01160198     0.100516625    0.11503426
2 -0.13072318 -0.03659201 -0.01490437    -0.002071081    0.04599622
3 -0.08572521 -0.15233572 -0.15065689    -0.019113872    0.04676366
4 -0.18608936 -0.15981561 -0.14891868    -0.014568071    0.02777371
5 -0.21565148 -0.19951169 -0.21261475    -0.022920604    0.02443818
6 -0.21733296 -0.21091751 -0.21417004    -0.007482423    0.01888730
  class2
1  0.07555136
2 -0.16650545
3 -0.09566407
4 -0.13960142
5 -0.18131786
6 -0.18423519

In [13]:
write.table(res, file = "mrmr_classic_features.csv",row.names=FALSE, na="", col.names=TRUE, sep=",")
write.table(scor, file = "mrmr_classic_scores.csv",row.names=FALSE, na="", col.names=TRUE, sep=",")